{% extends 'base.html' %}

{% block title %}
Projects
{% endblock title %}

{% load static %}

{% block content %}
<section class="projects-section centercolum">
    <h2>Projects</h2>
    <div class="projects-list">
        {% for project in projects_list %}
            <div class="project-card border">
                <a href="{{project.repository}}" target="_blank">
                    <img width="400" src="{{ project.image.url }}" alt="">
                </a>

                <h2>{{project.name}} - {{project.year}}</h2>
                <p>{{project.description}}</p>

            </div>
        {% endfor %}    
    </div>    
</section>

{% endblock content %}