{% extends 'base.html' %}

{% block title %}
About Me
{% endblock %}

{% load static %}

{% block content %}
<!--Code for About Me goes here-->
<section class="about-section center">
    <div class="about-image-container">
    </div>
</section>

<section>
    <div class="container-fluid">
        <p class="border border-primary text-center">Hello! My name is Mike Miller and this is a portfolio of my work
            and experience. I began a career in IT and coding as part of a career change. I am an Army Veteran and hold
            a bachelor's Degree in Social Work. I
            decided to change from Social Work to Coding due to the stress of working in the field. I am also
            married and have 2 beautiful daughters. </p>
    </div>
</section>
{% endblock %}